# frontend/custom-nginx.template

server {
    listen 80;

    location /api/ {
      proxy_pass http://backend:8080$request_uri;
    }

    location / {
      root /usr/share/nginx/html;
      try_files $uri $uri/ /index.html;
    }
}